<ion-view view-title="注册球队">

    <ion-content >
    	
    	
    	
    	
	<div class="item-input">
	    <label class="input-label">球队名称：</label>
	    <input placeholder="请输入球队名称" type="text">
	</div>
	<div class="item-input">
	    <label class="input-label">队长：</label>
	    <input placeholder="请输入队长姓名" type="text">
	</div>	
	<div class="item-input">
	    <label class="input-label">联系电话：</label>
	    <input placeholder="请输入联系电话" type="text">
	</div>	
	
	<div class="item-input">
	    <any class="input-label">活动区域：</any>
	    <select>
	        <option>全域</option>
	        <option>中山区</option>
	        <option>沙河口区</option>
	        <option>甘井子区</option>
	    </select>
	</div>		
	
	<div class="item-input">
	    <label class="input-label">密码：</label>
	    <input placeholder="请输入密码" type="text">
	</div>
	<div class="item-input">
	    <label class="input-label">密码确认：</label>
	    <input placeholder="请再次输入密码" type="text">
	</div>
	
     <div class="padding">
        <button class="button button-full button-assertive ink">注册</button>
    </div>   	
        
       

    </ion-content>
    
</ion-view>


