<ion-view view-title="首页">
  <ion-content lazy-scroll>
  	
  	<ion-slide-box on-slide-changed="reload()" class="slidebox" delegate-handle="slideimgs" show-pager="true"  auto-play="true" does-continue="true" slide-interval="4000">
			<ion-slide>
		    <!--<a href="#/tab/chats/confer" class="button button-square button-giant" style="width: 100%; height: 128px">大连周末足球</a>-->	
		  	<img image-lazy-src="" style="width: 100%; height: 140px" >
			</ion-slide>
		  <ion-slide>
		  	<img image-lazy-src="" style="width: 100%; height: 140px" >
		  </ion-slide>
		  <ion-slide>
		    <img image-lazy-src="" style="width: 100%; height: 140px" >
		  </ion-slide>		  
		</ion-slide-box>
 
 
<div class="button-bar">
  <a class="button " style="height: 45px" >马上注册球队</a>
</div>

 <div class="button-bar" style="padding-top: 5px;">
  <a  href="#/tab/files/ground" class="button " style="flex-grow:2;  height: 80px">定场地</a>
  <a  href="#/tab/dash" class="button " style="width: 100%; height: 80px">比赛</a>
</div>

<div class="button-bar" style="padding-top: 5px;">
  <a href="#/tab/files/vsteam" class="button " style="height: 80px" >约对手</a>
</div>

 <div class="button-bar" style="padding-top: 5px;">
  <a  href="#/tab/dash" class="button " style="width: 100%; height: 80px">视频</a>	
  <a  href="#/tab/files/vsteam" class="button " style="flex-grow:2; width: 100%; height: 80px">球队排行</a>
</div>

 <div class="button-bar" style="padding-top: 5px;">
  <a href="#/tab/dash" class="button " style="width: 100%; height: 80px">活动</a>
  <a href="#/tab/dash"  class="button " style="width: 100%; height: 80px">咨询</a>
</div>
 
		

  </ion-content>
</ion-view>
